set realname = "Your Name"
set from = "you@gmail.com"
set imap_user = "you@gmail.com"
set folder = "imaps://imap.gmail.com/"
set imap_authenticators = "oauthbearer:xoauth2"
set imap_oauth_refresh_command = "~/.config/neomutt/oauth/mutt_oauth2.py ~/.config/neomutt/oauth/gmail.token"
set sendmail = "/usr/bin/msmtp -a gmail"
