set realname = "Your Name"
set from = "you@example.com"
set imap_user = "you@example.com"
set folder = "imaps://imap.example.com/"
set imap_authenticators = "login"
set sendmail = "/usr/bin/msmtp -a other"
