set realname = "Your Name"
set from = "you@example.com"
set imap_user = "you@example.com"
set folder = "imaps://imap.example.com/"
set smtp_url = "smtp://you@example.com@smtp.example.com:587/"
set imap_authenticators = "login"
set smtp_authenticators = "login"
set smtp_pass = "YOUR_APP_PASSWORD"
